{{define "serverInfoNet"}}
<div class="box span8">
	<div class="box-header well">
		<h2> <i class="icon-th"></i>
			网络
		</h2>
		<div class="box-icon">
			<a class="btn btn-setting btn-round" href="#" id="refresh-net"> <i class="icon-refresh"></i>
			</a>
			<a class="btn btn-minimize btn-round" href="#">
				<i class="icon-chevron-up"></i>
			</a>
		</div>
	</div>
	<div class="box-content">
		<table class="table table-bordered" id="tbnetcard">
			<thead>
				<tr>
					<th style="width: 20%;">网卡</th>
					<th style="width: 20%;">接收</th>
					<th style="width: 20%;">发送</th>
					<th style="width: 20%;">总共</th>
					<th style="width: 20%;">丢失</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{{end}}