{{define "serverInfoGeneral"}}
<div class="box span4">
	<div class="box-header well">
		<h2> <i class="icon-th"></i>
			General
		</h2>
		<div class="box-icon">
			<a class="btn btn-setting btn-round" href="#" id="refresh-general"> <i class="icon-refresh"></i>
			</a>
			<a class="btn btn-minimize btn-round" href="#">
				<i class="icon-chevron-up"></i>
			</a>
		</div>
	</div>
	<div class="box-content">
		<div class="widget-content">
			<div>
				<span class="general-title">内核版本:</span>
				<span id="os-kernel"></span>
			</div>
			<div>
				<span class="general-title">运行时间:</span>
				<span id="os-uptime"></span>
			</div>
			<div>
				<span class="general-title">当前时间:</span>
				<span id="os-time"></span>
			</div>
			<div>
				<span class="general-title">主机名称:</span>
				<span id="os-hostname"></span>
			</div>
		</div>

	</div>
</div>
{{end}}