{{define "serverConfigMTSDialog"}}
<div class="modal hide fade" style="margin: -200px 0 0 -200px;" id="mtsServerConfigDialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>
			服务器-转发服务器-
			<span id="mtsServerName"></span>
		</h3>
	</div>
	<div class="box-content">
		<form class="form-horizontal">
			<fieldset>
				<ul id="mtsServerConfigTab" class="nav nav-tabs">
					<li class="active">
						<a href="#mtsServerConfig-Basic">基本信息</a>
					</li>
					<li >
						<a href="#mtsServerConfig-SipServer">SIP服务器</a>
					</li>
					<li >
						<a href="#mtsServerConfig-CmsServer">中心管理服务器</a>
					</li>					
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="mtsServerConfig-Basic">
						<div class="control-group-bottom">
							<input type="hidden" id="oMtsServerId"/>
							<label for="mtsServerId" class="control-label">编号</label>
							<div class="controls">
								<input type="text" id="mtsServerId" class="input-xlarge focused"></div>
						</div>
						<div class="control-group-bottom">
							<label for="mtsPassword" class="control-label">密码</label>
							<div class="controls">
								<input type="password" id="mtsPassword" class="input-xlarge focused"></div>
						</div>
						<div class="control-group-bottom">
							<label for="mtsPassword1" class="control-label">再次输入密码</label>
							<div class="controls">
								<input type="password" id="mtsPassword1" class="input-xlarge focused"></div>
						</div>						
						<div class="control-group-bottom">
							<label for="mtsRegisterInterval" class="control-label">注册间隔</label>
							<div class="controls">
								<input type="text" id="mtsRegisterInterval" class="input-xlarge focused" input-int-min="1" input-int-max="3600">秒</div>
						</div>
						<div class="control-group-bottom">
							<label for="mtsHeartInterval" class="control-label">心跳间隔</label>
							<div class="controls">
								<input type="text" id="mtsHeartInterval" class="input-xlarge focused " input-int-min="1" input-int-max="3600">秒</div>
						</div>
						<div class="control-group-bottom">
							<label for="mtsAddress" class="control-label">地址</label>
							<div class="controls">
								<input type="text" id="mtsAddress" class="input-xlarge focused"></div>
						</div>
						<div class="control-group-bottom">
							<label for="mtsPort" class="control-label">端口</label>
							<div class="controls">
								<input type="text" id="mtsPort" class="input-xlarge focused" input-int-min="1" input-int-max="65535"></div>
						</div>
					</div>
					<div class="tab-pane" id="mtsServerConfig-SipServer">
						<div class="control-group-bottom">
							<label for="mtsSipServerId" class="control-label">编号</label>
							<div class="controls">
								<input type="text" id="mtsSipServerId" class="input-xlarge focused"></div>
						</div>
						<div class="control-group-bottom">
							<label for="mtsSipServerDomain" class="control-label">域名</label>
							<div class="controls">
								<input type="text" id="mtsSipServerDomain" class="input-xlarge focused"></div>
						</div>
						<div class="control-group-bottom">
							<label for="mtsSipServerAddress" class="control-label">地址</label>
							<div class="controls">
								<input type="text" id="mtsSipServerAddress" class="input-xlarge focused"></div>
						</div>
						<div class="control-group-bottom">
							<label for="mtsSipServerPort" class="control-label">端口</label>
							<div class="controls">
								<input type="text" id="mtsSipServerPort" class="input-xlarge focused" input-int-min="1" input-int-max="65535"></div>
						</div>
					</div>
					<div class="tab-pane" id="mtsServerConfig-CmsServer">
						<div class="control-group-bottom">
							<label for="mtsCmsServerAddress" class="control-label">地址</label>
							<div class="controls">
								<input type="text" id="mtsCmsServerAddress" class="input-xlarge focused"></div>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-primary" id="btnMTSSaveServer"> <i class="icon-ok-sign"></i>
			&nbsp;保存
		</a>
		<a href="#" class="btn" data-dismiss="modal"> <i class="icon-remove-sign"></i>
			&nbsp;取消
		</a>
	</div>
</div>
{{end}}