{{define "serverConfigCMSDialog"}}
<div class="modal hide fade" style="margin: -200px 0 0 -200px;" id="cmsServerConfigDialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>
			服务器-中心管理服务器-
			<span id="cmsServerName"></span>
		</h3>
	</div>
	<div class="box-content">
		<form class="form-horizontal">
			<fieldset>
				<ul id="cmsServerConfigTab" class="nav nav-tabs">				
					<li >
						<a href="#cmsServerConfig-DbServer">数据库服务器</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="cmsServerConfig-DbServer">
						<div class="control-group-bottom">
							<label for="cmsDbServerAddress" class="control-label">地址</label>
							<div class="controls">
								<input type="text" id="cmsDbServerAddress" class="input-xlarge focused"></div>
						</div>
						<div class="control-group-bottom">
							<label for="cmsDbServerSchema" class="control-label">表空间</label>
							<div class="controls">
								<input type="text" id="cmsDbServerSchema" class="input-xlarge focused"></div>
						</div>
						<div class="control-group-bottom">
							<label for="cmsDbServerUser" class="control-label">用户名</label>
							<div class="controls">
								<input type="text" id="cmsDbServerUser" class="input-xlarge focused"></div>
						</div>
						<div class="control-group-bottom">
							<label for="cmsDbServerPassword" class="control-label">密码</label>
							<div class="controls">
								<input type="password" id="cmsDbServerPassword" class="input-xlarge focused"></div>
						</div>
						<div class="control-group-bottom">
							<label for="cmsDbServerPassword1" class="control-label">再次输入密码</label>
							<div class="controls">
								<input type="password" id="cmsDbServerPassword1" class="input-xlarge focused"></div>
						</div>							
					</div>					
				</div>
			</fieldset>
		</form>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn btn-primary" id="btnCMSSaveServer"> <i class="icon-ok-sign"></i>
			&nbsp;保存
		</a>
		<a href="#" class="btn" data-dismiss="modal"> <i class="icon-remove-sign"></i>
			&nbsp;取消
		</a>
	</div>
</div>
{{end}}