<?xml version="1.0" encoding="gb2312"?>
  <swd>
      <user>
          <userName>admin</userName>
          <password>11</password>
      </user>
      <user>
          <userName>5</userName>
          <password>1</password>
      </user>
      <server>
          <serverName>sip</serverName>
          <address>http://192.168.5.154:9600</address>
          <type>1</type>
      </server>
      <server>
          <serverName>mts</serverName>
          <address>http://192.168.5.212:9600</address>
          <type>2</type>
      </server>
      <port>9500</port>
  </swd>